VITE_USE_MOCK_SHIPPING_API=true
VITE_SHIPPING_API_BASE=/api/shipping
# Backend base URL khi chạy local
VITE_API_BASE=http://localhost:3000/api
VITE_USERS_API_BASE=http://localhost:3000
VITE_API_URL=http://localhost:3000